
.gallery-title {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.gallery_product {
    width: 255px;
    height: 255px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.gallery-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform ease-in-out 300ms;
}

.form {
    margin-block-end: 0em;
}

.modal-footer {
    padding: 0.5rem
}

.zoomed-img {
    width: 100%;
    height: 100%;
}