{% extends "base.html" %} {% block content %}

<head>
    <link href="{{ url_for('static', filename='css/turma.css') }}" rel="stylesheet">
</head>

<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="gallery-title">Turma: {{ turma }}</h1>
</div>

<form action="/train/{{ turma }}" method="get">
    <button class="btn btn-primary btn-lg " id="btn-train" type="submit">
        Treinar
    </button>
</form>

<!--http://www.javaear.com/question/53861102.html-->
<!--https://stackoverflow.com/questions/45874906/flask-and-javascript-confirm-before-deleting-->
<!--                        <form action="/delete/{{turma}}/{{picture}}" method="post">-->
<!--                            <button class="btn btn-primary btn-lg " id="btn-exclude" type="submit">-->
<!--                                Excluir-->
<!--                            </button>-->
<!--                        </form>-->

<div class="container">
    <div class="row">
        {% for picture in uploaded %}
                 <div class="col-lg-3">
                    <div id="gallery-img"  class="gallery_product" >
                        <img alt="picture" src="{{ url_for('get_picture', token=turma, name=picture) }}" class="gallery-img img-thumbnail">
                    </div>
                    <div class="btn-group d-flex justify-content-center" role="group">
                        <a data-toggle="modal" class="btn btn-primary" id="{{picture}}" data-target="#confirm_modal" onclick="aPassValueFunction(this)">
                            Excluir
                        </a> &nbsp;
                    </div>
                 </div>
        {% endfor %}
    </div>
</div>

    <!-- Modal for Pop Up-->
    <div class="modal" tabindex="-1" role="dialog" id="confirm-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Confirm - Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
            </button>
            <form action="/delete/{{turma}}" method="post">
                <input name="pass_value" type="hidden" value="pass_value" id="hidden_input">
                <input class="btn btn-secondary" type="submit" name="submit_button" value="Confirm">
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
        function aPassValueFunction(obj){
            let valuefromID = obj.id;
            $('#hidden_input').val(valuefromID);
            $("#confirm-modal").show();
        }
    </script>


{% endblock %}
